<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .grid-s5m0e5 { width:100%;}
        .grid-s5m0e5 .col-main { float:left; width:100%; min-height:30px; background:#000; }
        .col-sub { float:left; width:190px; min-height:30px; background:#f00; margin-left:-100%; }
        .col-extra { float:left; width:190px; min-height:30px; background:#00f; margin-left:-190px; }
    </style>
</head>
<body>
        <!-- http://www.cnblogs.com/langzs/archive/2013/01/27/taobaoshuangfeiyi.html -->
    <div class="grid-s5m0e5">
    　　<div class="col-main">我是主列</div>
    　　<div class="col-sub">我是子列</div><br>　　<div class="col-extra">我是附加列</div>
    </div>
</body>
</html>